<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellojs" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloJS</name>
    <description>
        HelloJS demo on Cordova
    </description>
    <author href="https://adodson.com" email="andrew.j.dodson+hellojs@gmail.com">
        Andrew Dodson
    </author>
    <content src="index.html" />
    <icon src="./www/icon.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>